<% layout("/layouts/clientnav") %>
<body>
    <table class="table" border="black">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Age</th>
                <th>House Name</th>
            </tr>
        </thead>
        <tbody>
                <% for (res of result){ %>
                <tr>
                    <td><%= res.id %></td>
                    <td><%= res.name %></td>
                    <td><%= res.date %></td>
                    <td><%= res.age %></td>
                    <td><%= res.title %></td>
                    <td> 
                        <form method="post" action="/book/<%=res.id%>?_method=DELETE">
                            <button type="submit" >Delete</button>
                        </form>
                    </td>
                    <td> 
                        <form method="get" action="/bookings/<%=res.id%>">
                            <button type="submit" >Update</button>
                        </form>
                    </td>
                </tr>
            <% }; %>
        </tbody>
    </table>
</body>
</html>