<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
    <h1>Listing Details:</h1>
    </div>

    <div class="card col-6 offset-2">
        <img src="<%=result.image%>" class="card-img-top show-img" alt="listing-image">
        <div class="card-body">
            <b><p class="card-text"></p></b>
            <b><p><%=result.title%></p></b>
            <b><p><%=result.description%></p></b>
            <b><p>&#8377;<%=result.price%></p></b>
            <b><p><%=result.location%></p></b>
            <b><p><%=result.country%></p></b>
        </div>
    </div>
    <div class="btns">
        <a href="/listings/<%=result.title%>/edit" class="btn btn-dark col-1 offset-2">Edit</a>    
        <form method="post" action="/listings/<%=result.title%>?_method=delete">
            <button class="btn btn-dark offset-3">delete</button>
        </form>
        <form method="get" action="/listings">
            <button class="btn btn-dark offset-4">Back</button>
        </form>
    </div>
</div>
</body>
